@page
@model LibraryManagement3.Pages.Authors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<section class="mb-4">
    <div class="card">
        <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
                <strong>Edit Author</strong>
            </h5>
        </div>
        <div class="card-body">
            <div class="col-md-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Author.AuthorId" />
                            <div class="form-group">
                                <label asp-for="Author.Name" class="control-label"></label>
                                <input asp-for="Author.Name" class="form-control" />
                                <span asp-validation-for="Author.Name" class="text-danger"></span>
                                </div>
                    <div class="form-group mt-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <hr/>
                        <a asp-page="./Index">Back to List</a>
                        </div>

                    
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
