@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<div class="text-center">
<img src="~/images/account-exception-128.png" alt="" loading="lazy"/>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<hr/>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
    <p>
        <strong>Error Message:</strong> @Model.ExceptionMessage
    </p>
}
</div>