@page
@model PrivacyModel
@{
    ViewData["Title"] = "Global Error Demo Page";
}
<h1>@ViewData["Title"]</h1>

<p>This is a page to show global error.</p>
@{
    throw new Exception("This is a deliberate exception for testing purposes.");
}